<header>
    <div class="logo">
        <i class="bi bi-snow3"></i> weather
    </div>
    <app-place-search></app-place-search>
    <div class="end-items">
        <div class="temp-unit-bar">
            <span class="unit-box">
                <p class="active">&deg;C</p>
                <p>&deg;F</p>
            </span>
        </div>
        <div class="langbar">
            <div class="icon-box">
                <img class="" role="img" src="./assets/icons/fin.svg" alt="English Language">
                <img class="active" role="img" src="./assets/icons/eng.svg" alt="Finnish Language">
            </div>
        </div>
    </div>
</header>