@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';


:root {
    /* Box sizing border-box for all elements */
    box-sizing: border-box;
    --primary-clr: #2f3542;
    --light-clr: #747d8c;
    --xtra-light-color: #f1f2f6;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f1f2f6;
    color: var(--primary-clr);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Utilities */
hr {
    border: none;
    height: 2px;
    background-color: var(--xtra-light-color);
    width: 100%;
    margin: 20px auto;
}

.clr-lt {
    color: var(--light-clr);
}